* {
	box-sizing: border-box;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
	background-color: #B9FFB7;
	font-family: 'Andale Mono';
	font-weight: bold;
	height: 10%;
	width: 100%;
}

.dataTable {
	background-color: #B9FFB7;
}

body {
	background-color: #403233;
}

form {
	background-color: #B9FFB7;
	width: 300px;
	text-align: left;
	display: table;
}

table, th, td {
	color: black;
	border: 1px solid #403233;
}
